.landing{
    max-width: 100vw;
    height: 558px;
    position: relative;
}
.landing img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2B6EA894;

}
.landing .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: var(--font-color);
    margin-top: 20px;
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
@media(min-width: 992px){
    .landing .info {
        max-width: 700px;
    }
}

/* 
.landing::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #79BFFB94;
    z-index: -1;
}
.landing .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
@media (max-width:767px) {
    .landing .container{
        padding: 45px;
    }
}
 */

.landing .desc{
    max-width: 700px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.4;
    word-spacing: 7px;
    text-align: center;
    color: var(--font-color);
    margin-bottom: 60px;
}
@media (max-width:767px) {
    .landing .desc{
        font-size: 25px;
        margin-bottom: 30px;
    }
}
.landing h2{
    color: var(--font-color);
}
@media (max-width:767px) {
    .landing h2{
        font-size: 30px;
    }
}
