.educards {
    padding-top: 150px;
    position: relative;

}

.educards .container{
    /* display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 10px; */
    display: flex;
    justify-content: center;
    position: relative;
}

.lenscard {
    width: 400px;
    box-shadow: 0px 6px 16px 0px #00000040;
    text-align: center;
}

.lenscard img{
    max-width: 100%;
}
.lensname{
    font-size: 22px;
    padding: 20px 55px;
    color: var(--main-color);
    font-weight: bold;
}