.cohort{
    padding-bottom: var(--main-padding);
    position: relative;
}
.cohort .container{
    display: flex;
    justify-content: center;
}

.cohort img{
    width: 650px;
}
.bluecor{
    right: 0;
    position: absolute;
bottom: -2000px;
}
