.features {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
}


.features .container .featurecard {
    padding: 30px;
    background-color: rgb(121 191 251 / 15%);
    box-shadow: 0px 6px 16px 0px #00000040;
    text-align: left;
}
.features .container .featurecard.pink{
    background-color:#FFC5491A;
    ;
}
.featurecard.pink .featuretit{
    color: #FFC549;

}
.featurecard .icon img{
    width: 65px;
    margin-bottom: 10px;
}
.featurecard .caption{
    padding: 10px 5px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.8;
    color: black;
    height: 87px;
    width: 100%;
}

.featurecard .featuretit{
    color: var(--sec-color);
    font-size: 18px;
}
.features .feattitle{
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.features .featblue{
    color: var(--sec-color);
}
.features .featyellow{
    color: var(--second-color);
}