.joinUs-container {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.jointitle h1{
    font-size: 44px;
    color: #000000;
    text-align: center;
    margin-bottom: 40px;
    max-width: 600px;

}

.joinUs-op-container {
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#F2F2F2;
    padding:2em 3em;
    box-shadow:1px 1px 5px gray;
    border-radius:10px;
    margin:0 3em;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}

.joinUs-op-container img{
    width: 80px;
    margin-bottom: 20px;
}
.joinUs-op-content {
    text-align:center;
}

.joinUs-op-content h3 {
    font-size: 40px;
    letter-spacing:1px;
    font-weight:700;
    color: var(--third-color);
    margin-bottom: 20px;

}

.joinUs-op-content p {
    font-size:22px;
    max-width: 720px;
    margin-bottom: 50px;
    font-weight: bold;

}

.joinUs-container .joinbox{
    width: 1000px;
    height: 200px;
    background-color: var(--font-color);
    margin-bottom: 50px;

}

.joinUs-container .joinbox p{
    text-align: center;
    color:#45454578;
    padding-top: 100px
    ;
}

.yellowjoin{
    position: absolute;
    left: -30px;
}
.bluejoin{
    position: absolute;
    right: 0;
    bottom:-1500px
}
.cta-linkedin {
    background-color:#7659FF;
    border-radius:12px;
    margin:0.3em 0;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
}
.cta-linkedin span{
    border-bottom: 1px solid #ffffff;   

}


.cta-linkedin a {
    padding:0.7em 1.5em;
    color:white;
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:0.7em;
}

.cta-linkedin a img {
    width:20px;
    margin-top: 20px;
}

.cta-linkedin:hover {
    scale:1.01;
}

.people-container {
    display:flex;
    justify-content:center;
    width:80%; 
    margin-top:50px;
    margin-bottom: 50px;
}

.people-container img {
    width:800px;
}

.volunteer-link {
    color:#7659FF;
    text-decoration:none;
    text-align:center;
    font-size:1.5rem;
    margin:1em 0;
}


.volunteer-container {
    margin-top: 100px;
    padding-bottom: 0 !important;
}






