@font-face {
    font-family: "gotham";
    src: url("./assets/EduFonts/Fonts/GothamBook.ttf");
}
@font-face {
    font-family: "delaGothic";
    src: url("./assets/EduFonts/Fonts/DelaGothic-Bold.ttf");
}

body {
    font-family: "gotham";
}
.title{
    font-family: 'delaGothic';

}
